<ion-header>
  <ion-navbar hideBackButton>
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title>Avaliação</ion-title>
    <ion-buttons end>
      <button ion-button color="primary" (click)="closeView()"><ion-icon name="close"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <p><strong>Tipo de Problema: </strong>{{ attendance.problemType }}</p>
      <p><strong>Dispositivo quebrado: </strong>{{ attendance.brokenDevice }}</p>
      <p><strong>Detalhes: </strong>{{ attendance.details }}</p>
      <p *ngIf="attendance.rating"><strong>Avaliação: </strong>{{ attendance.rating }} estrelas</p>
      <p *ngIf="!attendance.rating"><strong>Avaliação: </strong> Técnico não avaliado</p>
      <p><strong>Parece Técnico: </strong></p>
    </ion-item>
  </ion-list>
  <div>
      <ion-textarea value="{{attendance.advice}}" disabled></ion-textarea>
  </div>

  <div *ngIf="!attendance.rated">
    <ion-list>
      <ion-list-header>
        Nota
      </ion-list-header>
      <ion-item class="item item-select">
        <ion-select [(ngModel)]="rate" interface="popover">
          <ion-option value="none" disabled>Selecionar nota</ion-option>
          <ion-option value="1">1</ion-option>
          <ion-option value="2">2</ion-option>
          <ion-option value="3">3</ion-option>
          <ion-option value="4">4</ion-option>
          <ion-option value="5">5</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-list-header>
        Sua avaliação:
      </ion-list-header>
      <ion-item>
        <ion-textarea [(ngModel)]="ratingDetails" name="ratingDetails" placeholder="Explique sua avaliação"></ion-textarea>
      </ion-item>
    </ion-list>

    <div class="bottom request-controls">
      <ion-row>
        <ion-col>
          <button ion-button (click)="saveRating()" ion-button full>Salvar Avaliação</button>
        </ion-col>
      </ion-row>
    </div>
  </div>

  <div *ngIf="attendance.rated">
      <p><strong>Sua avaliação: </strong></p>
      <ion-textarea value="{{attendance.ratingDetails}}" disabled></ion-textarea>
  </div>
</ion-content>