<ion-content class="login-content no-scroll" padding>
  <div class="login-content">

  </div>
  <ion-row class="logo-row">
    <ion-col></ion-col>
    <ion-col width-67>
      <img src="assets/images/logo.jpg"/>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
  <div class="login-box">
    <form (ngSubmit)="login()" #registerForm="ngForm">
      <ion-row>
        <ion-col>
          <ion-list inset>
            
            <ion-item>
              <ion-input type="text" placeholder="Email" name="email" [(ngModel)]="email" required></ion-input>
            </ion-item>
            
            <ion-item>
              <ion-input type="password" placeholder="Senha" name="password" [(ngModel)]="password" required></ion-input>
            </ion-item>
            
          </ion-list>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col class="signup-col">
          <button ion-button class="submit-btn" full type="submit" [disabled]="!registerForm.form.valid">Entrar</button>
          <button type="button" ion-button class="register-btn" block clear (click)="createAccount()">Criar uma nova conta</button>
        </ion-col>
      </ion-row>
      
    </form>
  </div>
</ion-content>