page-login {
    .login-content {
        padding-top: 30%; 
        background-color: #222222;
        color: #ffffff;
      }      

      .item-md {
        background-color: #222222;
        color: #ffffff;
      }

    .submit-btn {
        background-color: #ffffff;
        color: #222222;
    }

    .register-btn {
        color: #ffffff;
    }
}
