<ion-header>
  <ion-navbar>
    <ion-title>Abrir Chamado</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-list>
      <ion-list-header>
        TIPO DE PROBLEMA
      </ion-list-header>
      <ion-item>
        <ion-select [(ngModel)]="problemType" interface="popover">
          <ion-option value="none" disabled>Selecionar problema</ion-option>
          <ion-option value="connection">INTERNET/CONEXÃO</ion-option>
          <ion-option value="hardware">TELA AZUL</ion-option>
          <ion-option value="hd">DESLIGAMENTO AUTOMATICO</ion-option>
          <ion-option value="idk">NÃO SEI</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-list radio-group>
      <ion-list-header>
        EQUIPAMENTO FÍSICO QUEBRADO?
      </ion-list-header>

      <ion-item>
        <ion-label>Sim</ion-label>
        <ion-radio (click)="broken = !broken"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Não</ion-label>
        <ion-radio checked (click)="broken = !broken">></ion-radio>
      </ion-item>
    </ion-list>


    <ion-list>
      <ion-list-header *ngIf="broken">
        QUAL?
      </ion-list-header>
      <ion-item class="item item-select">
        <ion-select *ngIf="broken" [(ngModel)]="brokenDevice" interface="popover">
          <ion-option value="none" disabled>Selecionar equipamento</ion-option>
          <ion-option value="router">ROTEADOR</ion-option>
          <ion-option value="hd">HD</ion-option>
          <ion-option value="others">OUTROS</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-list-header>
        DETALHE SEU PROBLEMA
      </ion-list-header>
      <ion-item>
        <ion-textarea [(ngModel)]="details" name="details" placeholder="Explique seu problema"></ion-textarea>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-list-header>
        ANEXE UMA FOTO DO PROBLEMA
      </ion-list-header>
      <ion-item>
        <button ion-button color="primary" (click)="accessGallery()">Buscar imagem</button>
      </ion-item>
      <ion-item>
        <img [src]="base64Image" *ngIf="base64Image" />
      </ion-item>
    </ion-list>

    
  </ion-list>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col width-50>
      <button ion-button full color="dark" clear (click)="cancelRequest()">Cancelar</button>
    </ion-col>
    <ion-col width-50>
      <button ion-button full color="dark" clear (click)="openRequest()">Abrir Chamado</button>
    </ion-col>
  </ion-row>
</ion-footer>