page-service-request {
    ion-item ion-select {
        -moz-appearance: none;
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        padding: 0px 45px 0px 45px;
        max-width: 100%;
        background: #FFF none repeat scroll 0% 0%;
        color: #333;
        text-align: left;
        cursor: pointer;
        direction: ltr;
    }

    ion-item ion-select ion-option {
        font-size: 14px;
    }
}
