<ion-header>
  <ion-navbar hideBackButton color="primary">
    <!--button ion-button menuToggle><ion-icon name="menu"></ion-icon></button-->
    <ion-title>Novo Cadastro</ion-title>
    <ion-buttons end>
      <button ion-button color="primary" (click)="closeView()"><ion-icon name="close"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="login-content no-scroll" padding>
  <ion-row class="logo-row">
    <ion-col></ion-col>
    <ion-col width-67>
      <img src="assets/images/logo.jpg" />
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
  <div class="login-box">
    <form (ngSubmit)="register()" #registerForm="ngForm">
      <ion-row>
        <ion-col>
          <ion-list inset>

            <ion-item>
              <ion-input type="text" placeholder="Nome" name="name" [(ngModel)]="name" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-input type="text" placeholder="CPF" name="surname" [(ngModel)]="cpf" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-input type="text" placeholder="Email" name="email" [(ngModel)]="email" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-input type="password" placeholder="Senha" name="password" [(ngModel)]="password" required></ion-input>
            </ion-item>

          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="signup-col">
          <button ion-button class="submit-btn" full type="submit" [disabled]="!registerForm.form.valid">Cadastrar-se</button>
        </ion-col>
      </ion-row>
    </form>
  </div>
</ion-content>