<ion-header>
  <ion-navbar>
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title>Formas de Pagamento</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let card of cards.cards;let i = index">
      <ion-item>
        <ion-avatar item-start>
          <ion-icon name="card"></ion-icon>
        </ion-avatar>
        <div>
          <h2 [innerHTML]="card.brand + ':' + card.num"></h2>
          <p [innerHTML]="card.holder"></p>
          <p [innerHTML]="'Válido até:' + card.monthExp + '/' + card.yearExp"></p>
        </div>
        <button ion-button item-end (click)="removeCard(index)">
            <ion-icon name="trash" icon-only></ion-icon>
          </button>
      </ion-item>
    </ion-item>
  </ion-list>
  <div class="bottom request-controls">
    <ion-row>
      <ion-col>
        <button ion-button (click)="openPaymentRegisterPage()" ion-button full>Adicionar Cartão</button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>