page-payment-methods {
    .bottom { position: absolute; bottom: 0; width: 80%; left: 9.5%; }
    .request-controls { text-align: center; background: linear-gradient(transparent, map-get($colors, light )); }

}
