<ion-content class="no-scroll">
  <ion-header no-border>
    <ion-navbar hideBackButton class="home-title">
      <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
      <ion-title center>TechFix</ion-title>
    </ion-navbar>
  </ion-header>
  <div id="map"></div>

  <div *ngIf="isLoaded">
    <div class="centerBox">
      <ion-row class="localeBar">
        <ion-col>
          SEU LOCAL:
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <button ion-button full (click)="callServiceRequestPage()">ABRIR CHAMADO</button>
        </ion-col>
      </ion-row>
    </div>

    <div class="bottom request-controls">
      <ion-row>
        <ion-col>
          <button (click)="showMyLocation()"><ion-icon name="locate" center></ion-icon><br/>Atualizar Localização</button>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>