page-home {
  #map { width: 100%;  height: 100%; }
  ion-app._gmaps_cdv_ .nav-decor { background-color: rgba(0,0,0,0); }
  ion-tab:not(.show-tab) ion-content { display: none; }
  .no-scroll .scroll-content{ overflow: hidden; }
  .centerBox { position: absolute; top: 60%; left: 10%; width: 80%; height: auto; text-align: center; }
  .centerBox button { position: absolute; left: 0px; }

  .localeBar { width: 100%; padding: 5px 0; font-size: 0.7em; background-color: #ffffff; border: 1px solid #999999; }
  .bottom { position: absolute; bottom: 0; width: 100%; }
  .bottom icon { height: 50px; }
  .bottom button { font-size: 1.2em; background: none !important; }
  .request-controls { text-align: center; background: linear-gradient(transparent, map-get($colors, light )); }
}
