
<ion-content class="no-scroll">
    <ion-header>
        <ion-navbar hideBackButton="true">
          <ion-title>{{ title }}</ion-title>
        </ion-navbar>
      </ion-header>
    
  <div id="mapD"></div>

  <div class="bottom request-controls">
    <ion-row>
      <ion-col>
        <button ion-button *ngIf="!cancelButton2" (click)="cancelRequest()" ion-button full>Cancelar</button>
        <button ion-button *ngIf="cancelButton2" (click)="cancelRequest2()" ion-button full>Cancelar</button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="cancelButton2">
      <ion-col>
        <button ion-button (click)="nextStep()" ion-button full>Avançar</button>
      </ion-col>
    </ion-row>
  </div>

</ion-content>