page-technician {
  ion-content {
    background-image: url('../assets/images/bg/searchingFor.png');
    background-repeat:no-repeat;
    background-size:cover;
    width:100%;
  }

    #mapD { width: 100%;  height: 100%; }
    ion-app._gmaps_cdv_ .nav-decor {
      background-color: rgba(0,0,0,0);
  }
  ion-tab:not(.show-tab) ion-content {
    display: none;
    }
    .no-scroll .scroll-content{ overflow: hidden; }

    .bottom { position: absolute; bottom: 0; width: 80%; left: 9%; }
    
      .request-controls { text-align: center; background: linear-gradient(transparent, map-get($colors, light )); }
}
