<ion-header>
  <ion-navbar color="danger">
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title>
      Configurações
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      Distância
      <ion-badge item-end>{{maxDistance}}m</ion-badge>
    </ion-list-header>
    <ion-item>
      <ion-range min="0" max="5000" pin="true" [(ngModel)]="maxDistance" color="primary">
        <ion-label range-left>0</ion-label>
        <ion-label range-right>5000m</ion-label>
      </ion-range>
    </ion-item>
  </ion-list>
  <button ion-button (click)="setSettings(maxDistance)" ion-button full>Salvar Configurações</button>
</ion-content>