page-direction {
    #mapD { width: 100%;  height: 100%; }
    ion-app._gmaps_cdv_ .nav-decor {
      background-color: rgba(0,0,0,0);
  }
  ion-tab:not(.show-tab) ion-content {
    display: none;
    }
    .no-scroll .scroll-content{ overflow: hidden; }
}
