<ion-header>
  <ion-navbar color="danger">
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title>Rota</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="no-scroll">
  <div id="mapD"></div>
</ion-content>
<ion-footer no-shadow>
  <ion-toolbar position="bottom">
    <button ion-button (click)="showMyLocation()" ion-button full>Atualizar Localização</button>
  </ion-toolbar>
</ion-footer>