<ion-header>
  <ion-navbar>
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title>Atendimentos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <p *ngIf="message">{{ message }}</p>
  <ion-list *ngFor="let call of history">
    <ion-item (click)="openRatingPage(call)">
      <p><strong>Tipo de Problema: </strong>{{ call.problemType }}</p>
      <p><strong>Dispositivo quebrado: </strong>{{ call.brokenDevice }}</p>
      <p><strong>Detalhes: </strong>{{ call.details }}</p>
      <p *ngIf="call.rating"><strong>Avaliação: </strong>{{ call.rating }} estrelas</p>
      <p *ngIf="!call.rating"><strong>Avaliação: </strong> Técnico não avaliado</p>
    </ion-item>
    <!--ion-item *ngFor="let value of call | objectValues" (click)="openRatingPage(value)">
          <p><strong>Tipo de Problema: </strong>{{ value.problemType }}</p>
          <p><strong>Dispositivo quebrado: </strong>{{ value.brokenDevice }}</p>
          <p><strong>Detalhes: </strong>{{ value.details }}</p>
          <p *ngIf="value.rating"><strong>Avaliação: </strong>{{ value.rating }} estrelas</p>
          <p *ngIf="!value.rating"><strong>Avaliação: </strong> Técnico não avaliado</p>
      </ion-item-->
  </ion-list>
  <!--ul *ngFor="let call of history">
    <li *ngFor="let value of call | objectValues">
      {{ value.teste }}
    </li>
  </ul-->
</ion-content>