<ion-header>
  <ion-navbar>
    <ion-title>PAGAMENTO</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="no-scroll" *ngIf="!paymentOk">
  <div class="bottom request-controls">
    <div class="card-box">
      <ion-list>
        <ion-item *ngFor="let card of cards.cards;let i = index">
          <ion-item>
            <ion-avatar item-start>
              <ion-icon name="card"></ion-icon>
            </ion-avatar>
            <div>
              <h2 [innerHTML]="card.brand + ':' + card.num"></h2>
              <p [innerHTML]="card.holder"></p>
              <p [innerHTML]="'Válido até:' + card.monthExp + '/' + card.yearExp"></p>
            </div>
            <button ion-button item-end (click)="endRequest()"><ion-icon name="checkmark" icon-only></ion-icon></button>
          </ion-item>
        </ion-item>
      </ion-list>
    </div>

    <ion-row>
      <ion-col>
        <button ion-button (click)="setPaymentOk()" ion-button full>Efetuar Pagamento</button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>

<ion-content class="no-scroll paymentOk" *ngIf="paymentOk">
  <div class="centerBox">
    <ion-row>
      <ion-col>
        Não esqueça de avaliar o técnico após finalizar o atendimento. Sua avaliação é muito importante!
      </ion-col>
    </ion-row>
  </div>
  <div class="bottom request-controls">
    <ion-row>
      <ion-col>
        <button ion-button (click)="endRequest()" ion-button full>Finalizar Atendimento</button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>