page-payment {
    ion-content {
        background-image: url('../assets/images/bg/payment.png');
        background-repeat:no-repeat;
        background-size:cover;
        width:100%;
      }
      .paymentOk {
        background-image: url('../assets/images/bg/paymentOk.png') !important;
        background-repeat:no-repeat;
        background-size:cover;
        width:100%;
       }

       .card-box {
           height: 30%;
           width: 100%;
       }

    .no-scroll .scroll-content{ overflow: hidden; }
    .bottom { position: absolute; bottom: 0; width: 80%; left: 9.5%; }
    .request-controls { text-align: center; background: linear-gradient(transparent, map-get($colors, light )); }
    .centerBox { position: absolute; top: 60%; left: 10%; width: 80%; height: auto; text-align: center; }
}
