// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.no-scroll .scroll-content{ overflow: hidden; }
ion-title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 90px 1px;
    width: 100%;
    height: 100%;
    text-align: center;
  }

  .toolbar-title-md {
    font-size: 1.6rem;
  }

  .bottom { position: absolute; bottom: 0; width: 80%; left: 9.5%; }
  .request-controls { text-align: center; background: linear-gradient(transparent, map-get($colors, light )); }

  .home-title .toolbar-title-md { font-size: 2rem !important; }

  ion-header {
    .toolbar {  
      .toolbar-background {
        background: rgba(255, 255, 255, 0.7);
      }
      .toolbar-title {
        color: black;
      }
    }
  }