<ion-menu type="overlay" [content]="mycontent" class="no-scroll" persistent="true">
    <ion-content menuClose>
        <ion-list no-lines>
            <ion-item *ngFor="let p of pages" (click)="openPage(p)">{{p.title}}</ion-item>
        </ion-list>
    </ion-content>
    <ion-footer>
        <ion-toolbar>
            <button ion-button block position="bottom" (click)="logout()" width="100%" class="item2">Logout</button>
        </ion-toolbar>
    </ion-footer>
</ion-menu>

<ion-nav #mycontent [root]="rootPage"></ion-nav>