page-work {
    ion-content {
        background-image: url('../assets/images/bg/workInProgress.png');
        background-repeat:no-repeat;
        background-size:cover;
        width:100%;
      }
}
