<ion-header>
  <ion-navbar>
    <ion-title>PaymentRegister</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div>
    <ion-item>
      <ion-label>Nome</ion-label>
      <ion-input type="text" [(ngModel)]="creditCard.holder"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Numero do cartao</ion-label>
      <ion-input type="text" [(ngModel)]="creditCard.num"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Código de segurança</ion-label>
      <ion-input type="text" [(ngModel)]="creditCard.cvv"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Mês - Expiração</ion-label>
      <ion-input type="text" [(ngModel)]="creditCard.monthExp"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Ano - Expiração</ion-label>
      <ion-input type="text" [(ngModel)]="creditCard.yearExp"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Bandeira</ion-label>
        <ion-input type="text" [(ngModel)]="creditCard.brand"></ion-input>
      </ion-item>
  </div>
  <div class="bottom request-controls">
    <ion-row>
      <ion-col>
        <button ion-button (click)="addCard()" ion-button full>Adicionar Cartão</button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>